    <div class="container">
        <div class="row text-center flex-box justify-content-center m-2">
            <div class="col-6 bg-dark text-white rounded">
                <h1>Mongo Scraper</h1>
                <p>ABC news edition</p>
            </div>
            <div class="col-7">
                <button class="m-2 btn btn-danger" id="scrape-button" >
                    Scrape for new articles
                </button>
                <button class="m-2 btn btn-danger" id="show-button" >
                    Show latest articles
                </button>
            </div>
        </div>
    </div>
